/*** page ***/
	body {
		background-color: var(--bluegray-2);
		overflow: hidden;
	}

	/* wire */
		#wire {
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
			width: var(--borderWidth);
			height: 50vh;
			z-index: -1;
			background-color: var(--black-3);
		}

	/* container */
		#container {
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translateX(calc(-50% - var(--borderWidth))) translateY(calc(-50% - var(--borderWidth)));
			width: calc(100% - (var(--borderWidth) * 4));
			margin: var(--borderWidth);
			padding: var(--borderWidth);
			height: calc((100vw - (var(--borderWidth) * 4)) * 0.4);
			max-width: var(--maxContainerWidth);
			max-height: calc(var(--maxContainerWidth) * 0.4);
			overflow-x: hidden;
			overflow-y: hidden;
			z-index: 1;
			border-radius: var(--borderWidth);
			border: calc(var(--borderWidth) / 2) solid var(--black-3);
		}

/*** selection ***/
	#selection-outer {
		width: 100%;
		height: 100%;
		background-color: var(--black-4);
		position: absolute;
		top: 0px;
		left: 0px;
		text-align: center;
	}

	#selection-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: auto;
		max-height: 100%;
		width: 100%;
		min-width: calc(100% - (var(--borderWidth) * 4));
		overflow: hidden;
	}

	#selection-inner button {
		border-radius: var(--borderWidth);
		height: calc(var(--borderWidth) * 4);
		width: calc(var(--borderWidth) * 4);
		outline: none;
		border: 0px;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		transition: var(--transitionTime);
		overflow: hidden;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		margin: var(--borderWidth);
		display: inline-block;
	}

	/* selection sprites */
		#selection-inner button:hover {
			box-shadow: 0px 0px var(--borderWidth) var(--white-4);
		}

		#selection-inner button[value="barbarian"] {
			animation: rock_selection step-start var(--animationTime) infinite;
		}

		#selection-inner button[value="wizard"] {
			animation: paper_selection step-start var(--animationTime) infinite;
		}

		#selection-inner button[value="ranger"] {
			animation: scissors_selection step-start var(--animationTime) infinite;
		}

		@keyframes rock_selection {
			0%   {background-image: url("/sprites/hero_barbarian_up_standing_inactive.png");}
			25%  {background-image: url("/sprites/hero_barbarian_right_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_barbarian_down_standing_inactive.png");}
			75%  {background-image: url("/sprites/hero_barbarian_left_standing_inactive.png");}
			100% {background-image: url("/sprites/hero_barbarian_up_standing_inactive.png");}
		}

		@keyframes paper_selection {
			0%   {background-image: url("/sprites/hero_wizard_up_standing_inactive.png");}
			25%  {background-image: url("/sprites/hero_wizard_right_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_wizard_down_standing_inactive.png");}
			75%  {background-image: url("/sprites/hero_wizard_left_standing_inactive.png");}
			100% {background-image: url("/sprites/hero_wizard_up_standing_inactive.png");}
		}

		@keyframes scissors_selection {
			0%   {background-image: url("/sprites/hero_ranger_up_standing_inactive.png");}
			25%  {background-image: url("/sprites/hero_ranger_right_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_ranger_down_standing_inactive.png");}
			75%  {background-image: url("/sprites/hero_ranger_left_standing_inactive.png");}
			100% {background-image: url("/sprites/hero_ranger_up_standing_inactive.png");}
		}

/*** info ***/
	#info {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	/* health */
		#health-outer {
			float: left;
			height: 100%;
			width: 100%;
			background-color: var(--black-4);
			overflow: hidden;
		}

		#health-inner {
			float: left;
			height: 100%;
			background-color: var(--green-2);
			transition: var(--transitionTime);
		}

		#health-inner[color="high"] {
			background-color: var(--green-2);
		}

		#health-inner[color="medium"] {
			background-color: var(--yellow-2);
		}

		#health-inner[color="low"] {
			background-color: var(--red-2);
		}

		#health-inner[effect] {
			box-shadow: 0px 0px calc(var(--borderWidth) * 4) var(--paper-0) inset;
		}

/*** controls ***/
	/* d-pad */
		#d-pad {
			z-index: 1;
			float: left;
			width: calc(40% - var(--borderWidth));
			height: calc(100% - var(--borderWidth));
			padding: 8px;
		}

		#d-pad button {
			overflow: hidden;
			float: left;
			height: calc(33.3%);
			width: calc(33.3%);
			font-size: calc(var(--borderWidth) * 2);
			color: var(--white-4);
			background-color: var(--black-2);
			outline: none;
			border: 0px solid var(--black-2);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			transition: var(--transitionTime);
		}

		#d-pad button.diagonal {
			height: calc(33.3% - var(--borderWidth)) !important;
			width: calc(33.3% - var(--borderWidth)) !important;
			background-color: var(--black-1);
		}

		#d-pad button[active] {
			background-color: var(--black-3);
		}

		#d-pad button[effect] {
			box-shadow: 0px 0px calc(var(--borderWidth) * 2) var(--scissors-0) inset;
		}

		#up-left {
			border-radius: 50% 0px 0px 0px;
			margin-top: var(--borderWidth);
			margin-left: var(--borderWidth);
		}

		#up {
			border-radius: var(--borderWidth) var(--borderWidth) 0px 0px;
		}

		#up-right {
			border-radius: 0px 50% 0px 0px;
			margin-top: var(--borderWidth);
			margin-right: var(--borderWidth);
		}

		#left {
			border-radius: var(--borderWidth) 0px 0px var(--borderWidth);
		}

		#center {
			border-radius: 0px;
		}

		#center button[active] {
			background-color: var(--black-2);
		}

		#right {
			border-radius: 0px var(--borderWidth) var(--borderWidth) 0px;
		}

		#down-left {
			border-radius: 0px 0px 0px 50%;
			margin-bottom: var(--borderWidth);
			margin-left: var(--borderWidth);
		}

		#down {
			border-radius: 0px 0px var(--borderWidth) var(--borderWidth);
		}

		#down-right {
			border-radius: 0px 0px 50% 0px;
			margin-bottom: var(--borderWidth);
			margin-right: var(--borderWidth);
		}

	/* middle */
		#middle {
			float: left;
			width: 20%;
			height: 100%;
		}

		#middle button {
			overflow: hidden;
			float: left;
			height: 10%;
			width: 50%;
			margin: 90% 25% 90% 25%;
			outline: none;
			border: 0px solid var(--black-2);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			background-color: var(--black-2);;
			border-radius: var(--borderWidth);
			transition: var(--transitionTime);
		}

		#middle button[active] {
			background-color: var(--black-3);
		}

	/* actions */
		#actions {
			z-index: 1;
			float: right;
			width: calc(40% - var(--borderWidth));
			height: calc(100% - var(--borderWidth));
			padding: calc(var(--borderWidth) / 2));
		}

		#actions button {
			overflow: hidden;
			float: left;
			height: calc(100% / 2);
			width: calc(100% / 2);
			font-size: var(--borderWidth);
			color: var(--white-4);
			background-color: var(--black-2);
			outline: none;
			border-radius: 100%;
			border: 0px solid var(--black-4);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			transition: var(--transitionTime);
		}

		#actions button[active] {
			background-color: var(--black-3);
		}

		#actions button[effect] {
			box-shadow: 0px 0px calc(var(--borderWidth) * 2) var(--rock-0) inset;
		}

		#a {
			margin-left: calc(100% / 2);
		}

		#b {
			margin-right: calc(100% / 2);
		}

/*** end ***/
	#play-again {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background-color: var(--black-3);
		border-radius: 0px;
		text-align: center;
	}

	#play-again-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: auto;
		height: auto;
		color: var(--white-4);
		font-size: 200%;
	}
