/*** page ***/
	html, body {
		width: 100%;
		height: 100%;
		background-color: var(--bluegray-2);z
	}

	body {
		background-image: url(/sprites/layer_1_background.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	/* container */
		#container {
			position: fixed;
			height: auto;
			width: auto;
			min-width: 80vw;
			padding: var(--borderRadius);
			top: 40%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			z-index: 2;
			background: rgba(0,0,0,0.3);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			border-radius: var(--borderRadius);
			overflow: hidden;
		}

/*** title ***/
	#title {
		float: left;
		height: 50px;
		width: 100%;
		padding: 0px;
		padding-bottom: var(--borderRadius);
		margin: 0px;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: pointer;
		color: var(--white-4);
		text-shadow: 0px 0px 10px var(--black-4);
		font-size: 50px;
		text-decoration: none;
		line-height: 1;
		overflow: hidden;
	}

	#title a, #title a:visited {
		color: var(--white-4);
	}

	#title a:hover, #title a:focus {
		text-shadow: 0px 0px 30px var(--black-4);
	}

/*** form ***/
	#form {
		float: left;
		height: 100px;
		width: 100%;
		padding: 0px;
	}

	#form-left {
		float: left;
		width: 50%;
		height: 100%;
	}

	#form-right {
		float: right;
		width: 50%;
		height: 100%;
	}

	#createGame {
		float: left;
		width: 100%;
		height: 100%;
		text-align: center;
		line-height: 1;
		font-size: 100%;
		padding: 0px;
		border-radius: var(--borderRadius) 0px 0px var(--borderRadius);
		border: 0px;
		background-color: var(--green-2);
	}

	#createGame:hover, #createGame:focus {
		background-color: var(--green-3);
	}
	
	#gameCode {
		float: left;
		width: calc(100% - 30px);
		height: calc(50% - 30px);
		padding: 10px;
		text-align: center;
		line-height: 1;
		font-size: 100%;
		border-radius: 0px var(--borderRadius) 0px 0px;
		border-width: 10px 10px 0px 0px;
		background-color: var(--white-4);
		border-color: var(--blue-2);
		margin: 0px;
	}

	#gameCode:hover, #gameCode:focus {
		border-color: var(--blue-3);
	}

	#joinGame {
		float: left;
		width: 100%;
		height: 50%;
		text-align: center;
		line-height: 1;
		font-size: 100%;
		padding: 0px;
		border-radius: 0px 0px var(--borderRadius) 0px;
		border: 0px;
		background-color: var(--blue-2);
	}

	#joinGame:hover, #joinGame:focus {
		background-color: var(--blue-3);
	}

/*** story ***/
	#container[story] #form {
		opacity: 0;
		transition: 2s;
		height: 0px;
	}

	#container:not([story]) #story {
		opacity: 0;
		height: 0px;
	}

	#story {
		pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		float: left;
		height: 100px;
		width: 100%;
		padding: 0px;
		font-size: 40%;
		color: var(--white-4);
		transition: 2s;
		opacity: 1;
	}

/*** images ***/
	#images {
		position: absolute;
		z-index: 1;
		top: 65%;
		left: 50%;
		transform: translateX(-50%) translateY(50%);
		height: 60px;
		width: 300px;
	}

	#images div {
		position: absolute;
		top: 50%;
		width: 20%;
		height: 50%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	/* rps */
		#images #rock {
			left: 25%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url(/sprites/orb_rock_all_standing_active.png);
		}

		#images #paper {
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url(/sprites/orb_paper_all_standing_active.png);
		}

		#images #scissors {
			left: 75%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url(/sprites/orb_scissors_all_standing_active.png);
		}

	/* animation */
		#images[animation] #rock {
			animation: rock_loading linear var(--animationTime) infinite;
		}

		#images[animation] #paper {
			animation: paper_loading linear var(--animationTime) infinite;
		}

		#images[animation] #scissors {
			animation: scissors_loading linear var(--animationTime) infinite;
		}

		@keyframes rock_loading {
			0%   {height: 100%; }
			17%  {height: 75%;  }
			33%  {height: 50%;  }
			50%  {height: 50%;  }
			67%  {height: 50%;  }
			83%  {height: 75%;  }
			100% {height: 100%; }
		}

		@keyframes paper_loading {
			0%   {height: 50%;  }
			17%  {height: 75%;  }
			33%  {height: 100%; }
			50%  {height: 75%;  }
			67%  {height: 50%;  }
			83%  {height: 50%;  }
			100% {height: 50%;  }
		}

		@keyframes scissors_loading {
			0%   {height: 50%;  }
			17%  {height: 50%;  }
			33%  {height: 50%;  }
			50%  {height: 75%;  }
			67%  {height: 100%; }
			83%  {height: 75%;  }
			100% {height: 50%;  }
		}

/*** sprites ***/
	#sprites {
		height: 100vh;
		width: 100vw;
		z-index: 0;
		background: transparent;
		pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	#sprites div {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 64px;
		width: 64px;
	}

	#sprites div div {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		opacity: 0;
	}

	/* barbarian */
		#sprites #barbarian[direction="right"] .right {
			opacity: 1;
		}

		#sprites #barbarian .right {
			animation: barbarian_right step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #barbarian[direction="left"] .left {
			opacity: 1;
		}

		#sprites #barbarian .left {
			animation: barbarian_left step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #barbarian[direction="down"] .down {
			opacity: 1;
		}

		#sprites #barbarian .down {
			animation: barbarian_down step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #barbarian[direction="up"] .up {
			opacity: 1;
		}

		#sprites #barbarian .up {
			animation: barbarian_up step-start calc(var(--animationTime) / 4) infinite;
		}

		@keyframes barbarian_down {
			0%   {background-image: url("/sprites/hero_barbarian_down_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_barbarian_down_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_barbarian_down_standing_inactive.png");}
		}

		@keyframes barbarian_up {
			0%   {background-image: url("/sprites/hero_barbarian_up_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_barbarian_up_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_barbarian_up_standing_inactive.png");}
		}

		@keyframes barbarian_right {
			0%   {background-image: url("/sprites/hero_barbarian_right_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_barbarian_right_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_barbarian_right_standing_inactive.png");}
		}

		@keyframes barbarian_left {
			0%   {background-image: url("/sprites/hero_barbarian_left_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_barbarian_left_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_barbarian_left_standing_inactive.png");}
		}

	/* wizard */
		#sprites #wizard[direction="right"] .right {
			opacity: 1;
		}

		#sprites #wizard .right {
			animation: wizard_right step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #wizard[direction="left"] .left {
			opacity: 1;
		}

		#sprites #wizard .left {
			animation: wizard_left step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #wizard[direction="down"] .down {
			opacity: 1;
		}

		#sprites #wizard .down {
			animation: wizard_down step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #wizard[direction="up"] .up {
			opacity: 1;
		}

		#sprites #wizard .up {
			animation: wizard_up step-start calc(var(--animationTime) / 4) infinite;
		}

		@keyframes wizard_down {
			0%   {background-image: url("/sprites/hero_wizard_down_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_wizard_down_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_wizard_down_standing_inactive.png");}
		}

		@keyframes wizard_up {
			0%   {background-image: url("/sprites/hero_wizard_up_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_wizard_up_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_wizard_up_standing_inactive.png");}
		}

		@keyframes wizard_right {
			0%   {background-image: url("/sprites/hero_wizard_right_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_wizard_right_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_wizard_right_standing_inactive.png");}
		}
		
		@keyframes wizard_left {
			0%   {background-image: url("/sprites/hero_wizard_left_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_wizard_left_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_wizard_left_standing_inactive.png");}
		}

	/* ranger */
		#sprites #ranger[direction="right"] .right {
			opacity: 1;
		}

		#sprites #ranger .right {
			animation: ranger_right step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #ranger[direction="left"] .left {
			opacity: 1;
		}

		#sprites #ranger .left {
			animation: ranger_left step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #ranger[direction="down"] .down {
			opacity: 1;
		}

		#sprites #ranger .down {
			animation: ranger_down step-start calc(var(--animationTime) / 4) infinite;
		}

		#sprites #ranger[direction="up"] .up {
			opacity: 1;
		}

		#sprites #ranger .up {
			animation: ranger_up step-start calc(var(--animationTime) / 4) infinite;
		}

		@keyframes ranger_down {
			0%   {background-image: url("/sprites/hero_ranger_down_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_ranger_down_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_ranger_down_standing_inactive.png");}
		}

		@keyframes ranger_up {
			0%   {background-image: url("/sprites/hero_ranger_up_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_ranger_up_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_ranger_up_standing_inactive.png");}
		}

		@keyframes ranger_right {
			0%   {background-image: url("/sprites/hero_ranger_right_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_ranger_right_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_ranger_right_standing_inactive.png");}
		}

		@keyframes ranger_left {
			0%   {background-image: url("/sprites/hero_ranger_left_standing_inactive.png");}
			50%  {background-image: url("/sprites/hero_ranger_left_moving_inactive.png");}
			100% {background-image: url("/sprites/hero_ranger_left_standing_inactive.png");}
		}

		