/*** page ***/
	html, body {
		width: 100%;
		height: 100%;
		background-color: var(--bluegray-2);z
	}

	body {
		background-image: url(/sprites/layer_1_background.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	/* container */
		#container {
			position: fixed;
			height: auto;
			width: auto;
			min-width: 80vw;
			padding: var(--borderRadius);
			top: 40%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			z-index: 2;
			background: rgba(0,0,0,0.3);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			border-radius: var(--borderRadius);
		}

/*** title ***/
	#title {
		float: left;
		height: 50px;
		width: 100%;
		padding: 0px;
		padding-bottom: var(--borderRadius);
		margin: 0px;
		user-select: none;
		cursor: pointer;
		color: var(--white-4);
		text-shadow: 0px 0px 10px var(--black-4);
		font-size: 50px;
		text-decoration: none;
		line-height: 1;
		overflow: hidden;
	}

	#title a, #title a:visited {
		color: var(--white-4);
	}

	#title a:hover, #title a:focus {
		text-shadow: 0px 0px 30px var(--black-4);
	}

/*** form ***/
	#form {
		float: left;
		height: 100px;
		width: 100%;
		padding: 0px;
	}

	#form-left {
		float: left;
		width: 50%;
		height: 100%;
	}

	#form-right {
		float: right;
		width: 50%;
		height: 100%;
	}

	#createGame {
		float: left;
		width: 100%;
		height: 100%;
		text-align: center;
		line-height: 1;
		font-size: 100%;
		padding: 0px;
		border-radius: var(--borderRadius) 0px 0px var(--borderRadius);
		border: 0px;
		background-color: var(--green-2);
	}

	#createGame:hover, #createGame:focus {
		background-color: var(--green-3);
	}
	
	#gameCode {
		float: left;
		width: calc(100% - 30px);
		height: calc(50% - 30px);
		padding: 10px;
		text-align: center;
		line-height: 1;
		font-size: 100%;
		border-radius: 0px var(--borderRadius) 0px 0px;
		border-width: 10px 10px 0px 0px;
		background-color: var(--white-4);
		border-color: var(--blue-2);
		margin: 0px;
	}

	#gameCode:hover, #gameCode:focus {
		border-color: var(--blue-3);
	}

	#joinGame {
		float: left;
		width: 100%;
		height: 50%;
		text-align: center;
		line-height: 1;
		font-size: 100%;
		padding: 0px;
		border-radius: 0px 0px var(--borderRadius) 0px;
		border: 0px;
		background-color: var(--blue-2);
	}

	#joinGame:hover, #joinGame:focus {
		background-color: var(--blue-3);
	}

/*** images ***/
	#images {
		position: absolute;
		z-index: -1;
		top: 65%;
		left: 50%;
		transform: translateX(-50%) translateY(50%);
		height: 60px;
		width: 300px;
	}

	#images div {
		position: absolute;
		top: 50%;
		width: 20%;
		height: 50%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	/* rps */
		#images #rock {
			left: 25%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url(/sprites/orb_rock_all_standing_default.png);
		}

		#images #paper {
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url(/sprites/orb_paper_all_standing_default.png);
		}

		#images #scissors {
			left: 75%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url(/sprites/orb_scissors_all_standing_default.png);
		}

	/* animation */
		#images[animation] #rock {
			animation: rock_loading linear var(--animationTime) infinite;
		}

		#images[animation] #paper {
			animation: paper_loading linear var(--animationTime) infinite;
		}

		#images[animation] #scissors {
			animation: scissors_loading linear var(--animationTime) infinite;
		}

		@keyframes rock_loading {
			0%   {height: 100%; }
			17%  {height: 75%;  }
			33%  {height: 50%;  }
			50%  {height: 50%;  }
			67%  {height: 50%;  }
			83%  {height: 75%;  }
			100% {height: 100%; }
		}

		@keyframes paper_loading {
			0%   {height: 50%;  }
			17%  {height: 75%;  }
			33%  {height: 100%; }
			50%  {height: 75%;  }
			67%  {height: 50%;  }
			83%  {height: 50%;  }
			100% {height: 50%;  }
		}

		@keyframes scissors_loading {
			0%   {height: 50%;  }
			17%  {height: 50%;  }
			33%  {height: 50%;  }
			50%  {height: 75%;  }
			67%  {height: 100%; }
			83%  {height: 75%;  }
			100% {height: 50%;  }
		}
