/*** page ***/
	html, body {
		width: 100%;
		height: 100%;
		background-color: var(--black-4);
	}

	body {
		background-image: url(/sprites/layer_2_background.png);
		background-size: contain;
		background-repeat: repeat;
		background-position: center;
	}

	/* container */
		#container {
			margin: 0px;
			padding: var(--borderWidth);
			border: 0px;
			width: calc(100vw - (var(--borderWidth) * 2));
			height: calc(100vh - (var(--borderWidth) * 2));
			overflow-x: hidden;
			overflow-y: scroll;
			z-index: 2;
		}

		#container-inner {
			width: 100%;
			max-width: var(--maxContainerWidth);
			margin-left: auto;
			margin-right: auto;
		}

	/* title */
		#title {
			color: var(--white-4);
			font-size: calc(var(--fontSize) * 4);
			cursor: pointer;
		}

		#title:focus, #title:hover {
			text-shadow: 0px 0px var(--borderWidth) var(--white-4);
		}

	/* sections */
		.section:nth-child(1) {
			margin-top: calc(var(--borderWidth) * 4);
		}

		.section {
			float: left;
			margin: calc(var(--borderWidth) * 2) 0% calc(var(--borderWidth) * 2) 0%;
			font-weight: normal;
			cursor: default;
			color: var(--white-4);
			line-height: 1.25;
			border-radius: var(--borderRadius);
			width: 100%;
			text-align: center;
			background: rgba(0,0,0,var(--overlayOpacity));
		}

		.sprite {
			height: calc(var(--borderWidth) * 4);
			width: calc(var(--borderWidth) * 4);
			z-index: 3;
			margin-top: calc(-1 * var(--borderWidth) * 2);
			margin-left: calc(50% - (var(--borderWidth) * 2));
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			opacity: 1;
			overflow: hidden;
			transition: var(--animationTime);
		}

		.header {
			float: left;
			font-size: calc(var(--fontSize) * 2);
			font-weight: bold;
			width: calc(100% - 2 * var(--borderWidth));
			padding: var(--borderWidth);
			color: var(--white-4);
			text-shadow: 0px 0px var(--borderWidth) var(--black-4);
			cursor: default;
			text-align: center;
			z-index: 2;
		}

		.subheader {
			float: left;
			font-size: calc(var(--fontSize) * 1.25);
			font-weight: bold;
			width: calc(100% - 2 * var(--borderWidth));
			padding: var(--borderWidth);
			color: var(--white-4);
			text-shadow: 0px 0px var(--borderWidth) var(--black-4);
			cursor: default;
			text-align: center;
			z-index: 2;
		}

		.content {
			float: left;
			padding: 0px var(--borderWidth) var(--borderWidth) var(--borderWidth);
			width: calc(100% - 2 * var(--borderWidth));
			margin: 0px;
			font-size: var(--fontSize);
			color: var(--white-4);
			cursor: default;
			text-align: center;
		}

		.content.carousel {
			padding: 0px 0px var(--borderWidth) 0px;
			width: calc(100% - 8 * var(--borderWidth));
		}

		.subcontent {
			float: left;
			padding: 0px;
			width: 100%;
		}

	/* controls */
		#controls {
			text-align: center;
			background-image: url("/images/controller.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			height: 300px;
			width: 100%;
		}

	/* feedback */
		#feedback-text {
			padding: calc(var(--borderWidth) / 2);
			max-width: calc(100% - var(--borderWidth));
			min-width: calc(100% - var(--borderWidth));
			margin-bottom: var(--borderWidth);
			border-radius: calc(var(--borderRadius) / 2);
			border: 0px;
			min-height: calc(var(--borderWidth) * 4);
			font-size: var(--fontSize);
		}

		#feedback-email {
			width: calc(100% - var(--borderWidth) - (var(--borderWidth) * 4));
			padding: calc(var(--borderWidth) / 2);
			border-radius: calc(var(--borderRadius) / 2) 0px 0px calc(var(--borderRadius) / 2);
			border: 0px;
			line-height: 1;
			font-size: var(--fontSize);
			text-align: center;
		}

		#feedback-submit {
			vertical-align: bottom;
			padding: calc(var(--borderWidth) / 2);
			width: calc(var(--borderWidth) * 4);
			line-height: 1;
			font-size: var(--fontSize);
			font-weight: bold;
			border-radius: 0px calc(var(--borderRadius) / 2) calc(var(--borderRadius) / 2) 0px;
			border: 0px solid transparent;
			background-color: var(--blue-2);
			color: var(--white-4);
			cursor: pointer;
		}

		#feedback-submit:hover, #feedback-submit:active {
			background-color: var(--blue-3);
		}

	/* pagination */
		.carousel-item {
			opacity: 1;
			overflow: hidden;
			transition: var(--animationTime);
		}

		.section:not([selection="0"]) .carousel-item:nth-child(1) {
			opacity: 0;
			height: 0px;
			width: 0px;
		}

		.section:not([selection="1"]) .carousel-item:nth-child(2) {
			opacity: 0;
			height: 0px;
			width: 0px;
		}

		.section:not([selection="2"]) .carousel-item:nth-child(3) {
			opacity: 0;
			height: 0px;
			width: 0px;
		}

		.section:not([selection="3"]) .carousel-item:nth-child(4) {
			opacity: 0;
			height: 0px;
			width: 0px;
		}

		.section:not([selection="4"]) .carousel-item:nth-child(5) {
			opacity: 0;
			height: 0px;
			width: 0px;
		}

		button.pagination {
			background-color: transparent;
			border: 0px;
			padding: var(--borderWidth);
			font-size: calc(var(--fontSize) * 2);
		}

		button.pagination:focus, button.pagination:hover {
			text-shadow: 0px 0px var(--borderWidth) var(--white-4);
		}

		button.pagination div {
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		button.pagination[value="left"] {
			float: left;
		}

		button.pagination[value="left"] div {
			transform: rotate(-90deg) translateX(2px);
		}

		button.pagination[value="right"] {
			float: right;
		}

		button.pagination[value="right"] div {
			transform: rotate(90deg) translateX(2px);
		}

/*** colors ***/
	/* text */
		.orangetext {
			font-weight: bold;
			color: var(--rock-0);
		}

		.greentext {
			font-weight: bold;
			color: var(--paper-0);
		}

		.magentatext {
			font-weight: bold;
			color: var(--scissors-0);
		}

		.bluetext {
			font-weight: bold;
			color: var(--blue-2);
		}

/*** sprites ***/
	/* static */
		#launch .sprite {
			background-image: url("/sprites/rangeAttack_barbarian_down_moving_default.png");
		}

		#gameplay .sprite {
			background-image: url("/sprites/rangeAttack_wizard_down_moving_default.png");
		}

		#feedback .sprite {
			background-image: url("/sprites/rangeAttack_ranger_down_moving_default.png");
		}

		#audio .sprite {
			background-image: url("/sprites/pedestal_rock_all_standing_active.png");
		}

		#artwork .sprite {
			background-image: url("/sprites/pedestal_paper_all_standing_active.png");
		}

		#code .sprite {
			background-image: url("/sprites/pedestal_scissors_all_standing_active.png");
		}

	/* carousels */
		#heroes[selection="0"] .sprite {
			background-image: url("/sprites/hero_barbarian_down_standing_inactive.png");
		}

		#heroes[selection="1"] .sprite {
			background-image: url("/sprites/hero_wizard_down_standing_inactive.png");
		}

		#heroes[selection="2"] .sprite {
			background-image: url("/sprites/hero_ranger_down_standing_inactive.png");
		}

		#monsters[selection="0"] .sprite {
			background-image: url("/sprites/monster_avalanche_down_standing_inactive.png");
		}

		#monsters[selection="1"] .sprite {
			background-image: url("/sprites/monster_obscuro_down_standing_inactive.png");
		}

		#monsters[selection="2"] .sprite {
			background-image: url("/sprites/monster_tatters_down_standing_inactive.png");
		}

		#shrines[selection="0"] .sprite {
			background-image: url("/sprites/shrine_rock_all_standing_active.png");
		}

		#shrines[selection="1"] .sprite {
			background-image: url("/sprites/shrine_paper_all_standing_active.png");
		}

		#shrines[selection="2"] .sprite {
			background-image: url("/sprites/shrine_scissors_all_standing_active.png");
		}

		#shrines[selection="3"] .sprite {
			background-image: url("/sprites/portal_portal_all_standing_active.png");
		}
